{% extends "base.html" %}

{% block titulo %} nosotros {% endblock %}

{% block contenido %}  

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Biblioteca Benjamín Carrión</h1>
        <h1>Acerca de Biblioteca UTPL</h1>
        <p>La Biblioteca Benjamín Carrión es un espacio de estudio, consulta y de encuentro, creado con el  fin  de  recopilar  información  referente  a  todas  las áreas  del  conocimiento  para  apoyar  el proceso   de   investigación   y   aprendizaje, favorece la autonomía y   responsabilidad   del aprendizaje académico y cultural, tanto de los estudiantes, docentes y personal administrativo de la sede central de la Universidad en Loja. </p>
        <ul>

            <li type="disc">¡Descubre, crea, piensa en grande!</li>
            
            <li type="disc">Más de 56000 libros físicos y más de 203000 libros</li>
            
            <li type="disc">864 espacios de aprendizaje e investigación</li>
            
            </ul>
        <h1>Beneficios</h1>
        <ul>
            <li>Tienes 864 espacios de aprendizaje e investigación</li>
            <li>Para fortalecer tu trabajo académico e investigativo tienes más de 56 000 libros físicos, más de 203 000 libros digitales y aproximadamente, 31 bases de datos científicas</li>
            <li>Brindan capacitaciones sobre: normas APA, bases científicas, gestores bibliográficos, entre otros.</li>
            <li>Tienen 21 salas de estudio para hacer los trabajar en grupo</li>
        </ul>
        <h1>Horario de atención</h1>
        <p>Lunes a viernes de 07h00 hasta las 21h00 y sábado de 08h00 a 12h00.</p>
        <hr class="my-2">
        <p class="lead">
        </p>
    </div>
</div>

{% endblock %}